/patchouli_data.json
/usernamecache.json
/usercache.json
/servers.dat
/BotaniaVars.dat
/icon.png
/options.txt
/realms_persistence.json
structurize/
screenshots/
saves/
mods/
logs/
journeymap/
itemscroller/
crash-reports/
.mixin.out/
/config/jei/bookmarks.ini